h5 {
  font-size: 18px;
  font-weight: normal;
}

.results {
  display: grid;
  grid-column-gap: 5rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.play-btn {
  font-size: 12px !important;
  font-weight: 700;
  outline: none;
  --size: 32px;
  border: 0;
  background-color: white;
  border-radius: 500px;
  color: #000;
  transition: transform 33ms cubic-bezier(0.3, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size);
  width: var(--size);
  position: absolute;
  right: 10%;
  bottom: 10%;
  opacity: 0;

  &:hover {
    transform: scale(1.06);
  }
}
